.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px
}

.login-form {
    min-width: 40%;
    background-color: var(--bg-middle-color);
    padding: 60px 100px;
    border-radius: 20px;
}

.login-form .title {
    display: flex;
    justify-content: center;
}

.login-form .title h1 {
    margin-right: 14px;
}

.login-email {
    margin-top: 40px;
}

.login-password {
    margin-top: 20px;
}

.login-form .buttons {
    margin-top: 30px;
}

.login-form .full-line {
    width: 100%;
}

.login-form .margin-top {
    margin-top: 15px;
}

.login-form .sep {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .sep p {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 40%;
    text-align: center;
    box-sizing: border-box;
}

.login-form .sep .line {
    background-color: white;
    width: 25%;
    height: 1px;
}

.hint {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    margin-left: 10px;
}

.custom-input {
    background-color: transparent;
}

.custom-input .MuiOutlinedInput-notchedOutline {
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 0.2);
}

.custom-input .MuiOutlinedInput-root {
    border-radius: 50px;
    color: #fff;
}

.custom-input .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.2);
}

.custom-input:hover .MuiOutlinedInput-notchedOutline {
    border-color: #fff;
}

.custom-input.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #fff;
}

.custom-input .MuiInputAdornment-root .MuiIconButton-root {
    color: rgba(255, 255, 255, 0.6);
}

.custom-input .MuiInputAdornment-root .MuiIconButton-root:hover {
    color: #fff;
}

.custom-input .MuiInputBase-input {
    color: #fff;
    font-size: 16px;
}

.exit-button {
    outline: 2px var(--red-color) solid;
    transition: background 0.3s ease, color 0.3s ease, filter 0.3s ease;
}

.exit-button:hover {
    background-color: var(--red-color);
}

.exit-button:hover img {
    filter: brightness(1000%);
}

.login-section {
    display: flex;
    align-items: center;
}

.login-section h2 {
    margin-right: 20px;
}

.info-row {
    display: flex;
}

.info-row .icon-button {
    margin-left: 10px;
    align-items: center;
}

.email-card {
    background: linear-gradient(to right, #0E0F10, #161227);
    border-radius: 20px;
    padding: 40px 30px;
}

.mail-row {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.email-input {
    width: 45%;
    margin-right: 20px;
}

.buttons-row {
    margin-top: 10px;
    display: flex;
}

.edit-email-btn {
    width: 30%;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .login-form {
        width: 100%;
        padding: 80px 60px;
    }
}

@media (max-width: 1079px) {
    .email-input {
        width: 50%;
    }

    .edit-email-btn {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .login-section {
        align-items: flex-start;
        flex-direction: column;
    }

    .exit-button {
        margin-top: 24px;
    }

    .mail-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .email-input {
        width: 100%;
    }

    .buttons-row {
        flex-direction: column;
    }

    .edit-email-btn {
        width: 100%;
    }
}

.auth-hint {
    display: inline-block;
    font-weight: 400;
    opacity: 50%;
    margin-left: 10px;
}

.add-email-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-email-title h1 {
    margin-bottom: 20px;
}